<header class="text-gray-700 body-font sticky top-0 z-10 bg-gray-300 dark:bg-gray-900 dark:text-white">
  
  <div class="progress-container" style="width: 100%; height: 8px;">
    <div class="progress-bar bg-blue-500" id="myBar" style="height: 8px; width: 0%;"></div>
  </div>

  <script>
    window.onscroll = function() {scrollbar()};
    
    function scrollbar() {
      var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
      var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
      var scrolled = (winScroll / height) * 100;
      document.getElementById("myBar").style.width = scrolled + "%";
    }
  </script>
    
  <div class="container mx-auto flex p-5 md:flex-row items-center">

    <a class="flex title-font font-medium items-center text-gray-900 dark:text-white mb-4 md:mb-0" href="{{ .Site.BaseURL }}">
      {{- partial "logo.html" . -}}
    </a>

    <span class="inline-flex items-center mb-4 md:mb-0 md:ml-auto sm:justify-start">
      {{ if .Site.Social.instagram }}
      <a class="ml-3 text-gray-500" href="{{ .Site.Social.instagram }}">
        <img style="height: 40px; width: 40px;" src="https://raw.githubusercontent.com/msmcs-robotics/msmcs-robotics.github.io/main/static/insta.webp" alt="instagram" title="Instagram"/>
      </a>
      {{ end }} {{ if .Site.Social.tiktok }}
      <a class="ml-3 text-gray-500" href="{{ .Site.Social.tiktok }}">
        <img style="height: 40px; width: 40px;" src="https://raw.githubusercontent.com/msmcs-robotics/msmcs-robotics.github.io/main/static/tiktok.webp" alt="tiktok" title="Tiktok"/>
      </a>
      {{ end }} {{ if .Site.Social.facebook }}
      <a class="ml-3 text-gray-500" href="{{ .Site.Social.facebook }}">
        <img style="height: 40px; width: 40px;" src="https://raw.githubusercontent.com/msmcs-robotics/msmcs-robotics.github.io/main/static/facebook.webp" alt="tiktok" title="Tiktok"/>
      </a>
      {{ end }} {{ if .Site.Social.twitter }}
      <a class="ml-3 text-gray-500" href="{{ .Site.Social.twitter }}">
        <img style="height: 40px; width: 40px;" src="https://raw.githubusercontent.com/msmcs-robotics/msmcs-robotics.github.io/main/static/twitter.webp" alt="tiktok" title="Tiktok"/>
      </a>
      {{ end }} {{ if .Site.Social.youtube }}
      <a class="ml-3 text-gray-500" href="{{ .Site.Social.youtube }}">
        <img style="height: 40px; width: 40px;" src="https://raw.githubusercontent.com/msmcs-robotics/msmcs-robotics.github.io/main/static/youtube.webp" alt="tiktok" title="Tiktok"/>
      </a>
      {{ end }} {{ if .Site.Social.twitch }}
      <a class="ml-3 text-gray-500" href="{{ .Site.Social.twitch }}">
        <img style="height: 40px; width: 40px;" src="https://raw.githubusercontent.com/msmcs-robotics/msmcs-robotics.github.io/main/static/twitch.webp" alt="twitch" title="Tiktok"/>
      </a>
      {{ end }}
    </span>

    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center dark:text-white {{ if .Site.Params.multipage }} multipage {{ end }}">
      {{ if and (eq .Site.Params.hideAutoMenu false) (eq $.IsNode true ) }}
      <a
        class="mr-2 px-2 rounded cursor-pointer select-none hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100 show-all"
        href="{{ if .Site.Params.multipage }}/{{ else }}#{{ end }}"
        >All</a
      >
      {{ range where .Site.Sections ".Params.private" "!=" true }}
      <a
        class="mr-2 px-2 rounded cursor-pointer select-none hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100 filter-{{lower .Title}}"
        href="{{ if .Site.Params.multipage }}{{ .Permalink }}{{ else }}#{{ end }}"
        >{{.Title}}</a
      >
      {{ end }}
      {{ end }}
      {{ range .Site.Menus.main }}
      
      
      <a style="margin-right: 10px; margin-left: 5px;" href="/social_feeds">Feeds</a>
      
      <a style="margin-left: 10px; margin-right: 10px;" href="/blog">Blog</a>
      
      <a
      href="{{ .URL }}"
      class="mr-2 px-2 rounded cursor-pointer select-none hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100"
      >{{ .Name }}</a>
      {{ end }}
      {{ if .Site.Params.darkMode }}

      <div
        class="toggle-dark-mode select-none p-2 rounded-full transition-colors duration-300 cursor-pointer hover:bg-gray-200 dark:hover:text-gray-900"
      >
        <svg xmlns="http://www.w3.org/2000/svg"
        width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M12 9a3 3 0 0 0 0 6v-6z" />
          <path d="M6 6h3.5l2.5 -2.5l2.5 2.5h3.5v3.5l2.5 2.5l-2.5 2.5v3.5h-3.5l-2.5 2.5l-2.5 -2.5h-3.5v-3.5l-2.5 -2.5l2.5 -2.5z" />
        </svg>
      </div>

      {{ end }}
    </nav>
  </div>
</header>
